<h2 id="title">
  {{!-- This title and link to the books routes appears on every template --}}
  {{#link-to 'books'}}Welcome to Harrison's Bookstore{{/link-to}}
</h2>
<div class="{{if blur 'blur-background' ''}}">
  {{outlet}}
</div>
